*,
*::before,
*::after {
    text-decoration-style: none;
    list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
 }

body {
    font-family: "Nunito", sans-serif;
    color: #6D5D4B;
    font-weight: 300;
    line-height: 1.6;
    background: rgb(212, 212, 210);
    font-size: 1.6rem;
    }

h2{
    font-family: Nunito;
    text-transform: uppercase;
    font-size: 3rem;
    color: mistyrose;
    font-weight: 300;
    
}

.list-menu a {
    margin: .7rem;
    font-size: 2.3rem;
    text-decoration: none;
    color: navajowhite;
    text-decoration-style: none;
    list-style: none;
}

.list-menu a:link, a:visited {
    text-decoration-style: none;
    list-style: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    background-size: 320%;
    transition: all .5s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%);
}

.list-menu a:hover, a:active {
    text-decoration-style: none;
    list-style: none;
     background-position: 90%;
     transform: translateX(1rem);
     color: rgb(31, 30, 29);
 }


.container {
        display: grid;
        grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) 
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
        minmax(6rem, 1fr) [full-end]; 
    }
      
.menu{
    background-image: radial-gradient(rgb(16, 54, 165), rgb(43, 198, 226));
    grid-column: full-start / col-end 4;

    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;

}

.about{
    background-image: linear-gradient(rgb(202, 222, 226), rgb(16, 54, 165));
    grid-column: col-start 5 / center-end;
}

.work {
    background-color: blueviolet;
    grid-column: full-start / col-end 4;

}

.edu{
    background-color: royalblue;
    grid-column: col-start 5 / center-end;
}

.projects{
    background-color: peru;
    grid-column: full-start / col-end 4;
}

.contact{
    background-color: palegreen;
    grid-column: col-start 5 / center-end;
}

.footer {
    background-color: #101d2c;
    grid-column: full-start / center-end; }
